name: Publish

on:
  release:
    types: [released]
  workflow_dispatch:

run-name: >-
  ${{
    github.event_name == 'release' && format('Publish {0}', github.event.release.tag_name)
    || github.event_name == 'workflow_dispatch' && 'Publish Next'
    || 'Publish Release' }}

jobs:
  publish-release:
    if: github.event_name == 'release'

    runs-on: ubuntu-latest

    environment: release

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Prepare
        uses: ./.github/actions/prepare

      - run: npm publish --access public

  publish-next:
    if: github.event_name == 'workflow_dispatch'

    runs-on: ubuntu-latest

    environment: release

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Build next version
        run: ./scripts/build-next

      - run: npm publish --access public --tag next
